body {
    margin: 0;
    padding: 0;
    background-color: #F7FFF7;
    background-image: url('src\assets\images\fondoo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  