.home-form-container {
  max-width: 1400px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #F7FFF7;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  overflow: visible;
  border: 2px solid #6CA6C1;
  height: auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  min-width: 120px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #343434;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #2F3061;
  border-radius: 8px;
  margin-top: 5px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
  border-color: #6CA6C1;
  outline: none;
}

.passengers {
  flex: 2;
  position: relative;
}

.passenger-dropdown {
  position: relative;
}

.dropdown-btn {
  padding: 12px;
  width: 100%;
  text-align: left;
  border: 1px solid #2F3061;
  border-radius: 8px;
  background-color: #F7FFF7;
  cursor: pointer;
  font-size: 16px;
  color: #343434;
  font-weight: 600;
  transition: background-color 0.3s;
}

.dropdown-btn:hover {
  background-color: #6CA6C1;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  background: #F7FFF7;
  border: 1px solid #2F3061;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 10;
}

.passenger-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passenger-option label {
  font-size: 14px;
  color: #343434;
}

.passenger-option input {
  width: 50px;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s;
}

.passenger-option input:focus {
  border-color: #6CA6C1;
}

.done-btn {
  padding: 10px;
  background-color: #2F3061;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.done-btn:hover {
  background-color: #343434;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[type="submit"] {
  padding: 12px;
  background-color: #2F3061;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #343434;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}

.recommended-trains-container {
  max-width: 1500px;
  margin: 40px auto 40px auto;
  margin-top: 100px;
}


.recommended-trains {
  margin-top: 30px;
}

.trains-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(150px, auto);
}

.train-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.train-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.train-info {
  padding: 10px;
  font-family: Arial;
}

.train-info p {
  margin: 5px 0;
  font-size: 14px;
}

.train-info strong {
  font-size: 16px;
  color: #333;
}
