<header class="app-header">
    <nav class="nav-menu">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
            <li><a routerLink="/administracion" routerLinkActive="active">Administración</a></li>
        </ul>
    </nav>

    <div class="logo">
        <img src="assets/images/logo.png">
    </div>

    <div class="user-info" (click)="toggleUserInfo($event)">
        <img src="assets/images/user.png">
        <div class="user-details" *ngIf="isUserInfoVisible">
            <p><strong>Nombre:</strong> {{ user.name }}</p>
            <p><strong>Rol:</strong> {{ user.role }}</p>
            <button (click)="logout()">Cerrar sesión</button>
        </div>
    </div>
</header>
